.site-header {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 150, 0.4)), url("../images/Kostadin-image-2.jpg") no-repeat center center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 0 0 100%;
    box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.75);
}

.site-header-navigation {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    justify-content: center;
    align-items: center;
    pading-top: 5em;
}

.site-header-navigation h1 {
    flex: 0 0 100%;
    text-align: center;
    height: 3em;
}

.site-header-navigation h1 a{
    color: var(--color-body-bgrd);
    font-size: 25px;
    text-decoration: none;

}

.site-header h1 a:after{
    content: 'Костадин Савов';
    display: block;
    font-size: 0.6em;
}

.site-header-nav{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    margin-top: 230px;
}

.site-header-nav li{
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
}

.site-header-nav li a{
    text-decoration: none;
    color: var(--color-header-link);
    font-size: 1.8em;
}

.site-header-nav li a:hover{
    color: var(--color-body-bgrd);
}


section.header-social{
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    max-width: 100%;
    justify-content: space-around;
}

ul.social-media {
    display: flex;
    flex: 0 0 100%;
    cursor: pointer;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    height: 5em;
    padding: 0 3em;


}

ul.social-media li {
    display: flex;
    justify-content: center;
    flex: 0 0 14%;
    background-color: var(--color-header-link);
    border-radius: 100%;
    padding: 5px 5px;
}

ul.social-media li:hover {
    background-color: var(--color-body-bgrd);
}

/*ul.social-media li:nth-child(1):hover {*/
/*    background-color: #3b5999;*/
/*}*/

/*ul.social-media li:nth-child(2):hover {*/
/*    background-color: #55acee;*/
/*}*/

/*ul.social-media li:nth-child(3):hover {*/
/*    background-color: #dd4b39;*/
/*}*/

/*ul.social-media li:nth-child(4):hover {*/
/*    background-color: #55acee;*/
/*}*/

/*ul.social-media li:nth-child(5):hover {*/
/*    background-color: #e4405f;*/
/*}*/


ul.social-media > li > a {
    color: black;
    align-items: center;
    font-size: 1.2em;
}

/*ul.social-media > li > a:hover {*/
/*    color: var(--color-body-bgrd);*/
/*}*/


