.site-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--color-body-bgrd);
    overflow: hidden;
    padding: 3em 3em;
}

.main-content{
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
}

.content-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    justify-content: center;
    margin: 3em 0;
}





